.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    padding: 15px 30px;
    box-sizing: border-box;
    border-top: 1px solid grey;
}
.nav-bar__list {
    display: flex;
    justify-content: space-between;
}

.nav-bar__icon {
    position: relative;
    color: dimgrey;
}

.nav-bar__chat__notice {
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.nav-bar__find__dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: tomato;
    left: 25px;
}
